{% extends 'core/base.html' %}
{% block title %}Tasks{% endblock %}
{% block content %}
<h3>Do Civic Tasks & Earn EcoCoins</h3>

<form method="post" enctype="multipart/form-data" class="mt-3 mb-4">
  {% csrf_token %}
  {{ form.as_p }}
<img id="taskPreview" src="#" alt="Preview" style="max-width: 200px; display: none;" class="mt-2">

  <button type="submit" class="btn btn-primary">Submit Task</button>
</form>

<h5>My Submitted Tasks</h5>
{% if page_obj %}
{% for task in page_obj %}
  {% include 'core/partials/_task_card.html' %}
{% empty %}
  <p class="text-muted">No reports found.</p>
{% endfor %}
<div class="mt-3">
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Previous</span></li>
      {% endif %}

      <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Next</span></li>
      {% endif %}
    </ul>
  </nav>
</div>
{% else %}
<p class="text-muted">No tasks submitted yet.</p>
{% endif %}
{% endblock %}
